<h1>Information and Rules</h1>
<p>Thank you for choosing "Our Game"</p>
<p>"Our Game" is made to make it convenient to play popular games like Cards against Humanity, apples to apples and more</p>
<p>"Our Game" supports up to one host and 11 players (12 max)</p>
<p>All players get to make their own name so get creative with it</p>
<p>Host can select how the next judge is picked, how many points it takes to win the overall game</p>
<p>To maximize the player experience we recommend that everyone playing join a call of some sorts</p>
<p><b><u>Here are some recommend rules to keep the sprit of the game alive</u></b></p>
<ul>
  <li>Only play cards in your hand even if you know of a better response that is in the deck</li>
  <li>Enter card correctly into the box</li>
  <li>Be honest</li>
  <li>add more rules later</li>
  <li>And most of all have fun</li>
</ul>
