<div class="flex-row">
  <div class="flex-1">
    <mat-card class="host-card">
      <mat-card-header>
        <mat-card-title class="host-title">Host</mat-card-title>
      </mat-card-header>
      <mat-card-content class="game-title">
        This is a placeholder for the host page!
      </mat-card-content>
    </mat-card>
    <button mat-fab class="add-todo-fab" matTooltip="Create Lobby" matTooltipPosition="left" routerLink="/host/new" data-test="addTodoButton">
      <mat-icon class="md-24" aria-label="Create Lobby">add</mat-icon>
    </button>
  </div>
</div>
