<div class="flex-row">
  <div class="flex-1">
    <mat-card class="host-card">
      <mat-card-header>
        <mat-card-title class="host-title">Host</mat-card-title>
      </mat-card-header>
      <mat-card-content class="game-title">
        This is a placeholder for the host page!
      </mat-card-content>
    </mat-card>
    <div class="button-container">
      <button mat-fab class="info-fab" matTooltip="Rules and Information" matTooltipPosition="left" (click)="openDialog()">
        <mat-icon class="md-24" aria-label="Info">info</mat-icon>
      </button>
  </div>
</div>
</div>
