<div class="flex-row">
  <div class="flex-1">
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title>
          Home
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        This is a home page! It doesn't do anything!
      </mat-card-content>
    </mat-card>
    <div class="button-container">
      <button mat-fab class="info-fab" matTooltip="Rules and Information" matTooltipPosition="left" (click)="openDialog()">
        <mat-icon class="md-24" aria-label="Info">info</mat-icon>
      </button>
    </div>
  </div>
</div>
